// Body
	body {
		background-image: url(images/bg.jpg);
		background-repeat: no-repeat,repeat;
		background-color: #fff;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
}


// Wrapper
	.wrapper {
		width: 70%;
		margin: 20px auto;
		background: none;
		max-width: 1200px;

}

// Content
	.content {
		width: 70%;
		min-height: 100%;
		margin: 93px auto;
		max-width: 1200px;
}

// Logo
	.logo{
		max-height: 190px;
		width: 250px;
	}
// Slogan

	.slogan {
		margin: auto;
		text-align: center;
		font-family: 'IM Fell English', serif;
		font-size: 50px;
		line-height: 72px;
		p {font-size: 20px; }
		
}
// Main
	#main {
		flex-basis: 79%;
}


// Sidebar for menu

	.sidebar {
		text-align: center;
		text-transform: uppercase;
		margin-left: 16px;
}



// Nav - menu
.navbar-light .navbar-nav .active>.nav-link{
		color: white;
		background: black;
}
.navbar-light .navbar-nav .nav-link:hover{
                color: #d6d3d3;
                background: black;
}

.navbar-light .navbar-nav .nav-link {
		color: white;
		margin: 0 0 3px 0;
}
.navbar .navbar-nav > .active{
		background: black;
		color:white;
}
.navbar .navbar-nav li {
		color: white;
		background: black;
		margin: 0 0 10px 0;
		padding-left: 10px;
		padding-right: 10px;
}
	nav.navbar {
		padding: 0px;
}


// Footer
	footer.footer {
		width: 100%;
		text-align: center;
		margin: 0;
		background-color: #0F1E2D;
		bottom: 0px; 
		position:fixed; 
		z-index:80; 
		vertical-align:middle; 
		opacity: 0.85;
}

// Copyright

	p.copyright {
		padding-top: 36px;
		color: white;
		display: inline-block;

}

	.follow-my {
		display: inline-block;
		margin-left: 34px;
		margin-right: 34px;
		color: white;
                a { 
                        color: white;
			padding: 4px;
                }

}

	.imprint {
		display: inline-block;
		a {
			color: white;
		}
}


// Home post list thumbnail
	.circle-thumb-image {
		-webkit-border-radius: 300px;
		-moz-border-radius: 300px;
		-ms-border-radius: 300px;
		-o-border-radius: 300px; 
		border-radius: 300px;
}
	.moretag {
		color: #9F3636;
		font-size: 16px;
}
	.seperate-posts {
		margin-bottom: 39.5px;
}

// Event
.margin_right{ margin: 0 10px 20px 0;}

.gridBox {
   margin: 20px auto 16px auto;
   width: 975px;
}

.gridBox .grid-header{
   border-bottom: 1px solid #DFDDD5;
   margin-bottom: 20px;
   padding-bottom: 10px;
}

.gridBox .boxes-container{ }

.gridBox .boxes-container .grid-boxes{
   float: left;
   padding: 6px;
   width: 46%;
   min-height: 36vh;
   border-bottom: 1px solid #DFDDD5;
}

.gridBox .boxes-container .grid-boxes .grid-thumbnail{ }

.gridBox .boxes-container .grid-boxes .grid-title{
   text-align: center;
   margin-bottom: 0 !important;
   padding: 8px 0 6px 0;
   font-size: 14px;
}



/// Responsivnes

@media only screen and (max-width: 1300px) {

	.slogan {
		font-size: 30px;
}


} // End of max-width 1300px



@media only screen and (max-width: 1160px) {

.content, .wrapper {
		width: 90%;
}


} // End of max-width 1160px

@media only screen and (max-width: 977px) and (min-width: 769px) {

	div#sidebar1 {
		position: absolute;
}
	div#main {
		position: absolute;
}

} // end media max-min

@media only screen and (max-width: 986px) {

	.col-lg-8 col-md-8 {
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
}


	.content {
		width: 100%;
}
	.row {
		margin-left: 0px;
		margin-right: 0px;
}
        .slogan {
                font-size: 20px;
}
	.slogan p {
		font-size: 16px;
}

	nav.navbar {
		position: fixed;
		right: 0px;
		content: 'MENU';
		z-index: 100;
		bottom: 14px;
}
	.navbar-collapse {
		height: 90vh;
		overflow-y: auto;

}
	span.navbar-toggler-icon2 {
		color: white;
		font-size: 35px;
}
	.mr-auto, .mx-auto {
		margin-right: auto!important;
		width: 100vw;
		height: 90vh;
		background-color: hsla(0, 0%, 0%, 0.32);
		margin: 0 auto;
}
	ul#menu-base {
		border-top: 36px solid black;
		padding-top: 10px;
}

	a.nav-link {
		font-size: 15px;
		line-height: 6vh;
}
	img.attachment-large.size-large.wp-post-image {
		max-width: 100%;
}

	.navbar-toggler:not(:disabled):not(.disabled) {
		background-color: #0f1e2d1c;
}


// Navbar-toggle

	span#navbar-close {
		bottom: 0px;
		position: fixed;
		color: white;
		z-index: 200;
		font-size: xx-large;
		background-color: black;
		width: 100%;
		padding-top: 25px;
		text-align: center;
		padding-bottom: 25px;
}

// End navbar toggle



        .follow-my {
                display: none;
}
	.imprint, p.copyright {
		font-size: 20px;
		margin-left: 20px;
}
	footer.footer {
		text-align: left;
		left: 5px;
}

} // End max-width 986px

@media only screen and (max-width: 768px) {
	
	#main {
		flex-basis: 90%;
		width: 90%;
}
	.slogan{
		display: none;
	}

	.logo {
		margin: 91px auto 0px;
}
	.follow-my {
		display: none;
}
	.footer.footer {
		max-height: 70px;
}
	p.copyright {
		padding-top: 22px;
		padding-bottom: 0px;
}
        .imprint, p.copyright {
                font-size: 14px;
                margin-left: 20px;
}


} // End max-width 500px

@media only screen and (max-width: 399px) {

       span.navbar-toggler-icon2 {
                font-size: 35px;
}
        .imprint, p.copyright {
		display: none;
}
	footer.footer {
		height: 70px;
}


} // End of media max-width 399 px
