@import "../fonts/fontawesome/scss/fontawesome.scss";
@import "../fonts/fontawesome/scss/fa-solid.scss";
@import "../fonts/fontawesome/scss/fa-brands.scss";


h1,h2,h3,h4,h5,h6 {font-family: 'Teko', sans-serif;}
body, p {font-family: 'Sanchez', serif; line-height: 20px;}

h1 {font-size: 50px;}
h2 {font-size: 40px; a{color: #000000;}}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 20px;}
h6,p {font-size: 19px;}
categories {font-size: 16px;}
a:hover, a:active {text-decoration: underline;}
a {color: #000000;}
